.chat-main
  .chat-main__group-info
    .main
      .group-name
        =@group.name
      .edit
        =link_to "Edit", edit_group_path(current_user), class: "chat-main__btn--edit" 
    .member
      Member: 
      
      - @group.users.each do |user|
        = user.name

  .messages
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text', placeholder: 'type a message'
      .form-box
        = f.label :image, class: 'message-image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-btn'